{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "import/no-cycle": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-key": ["error"],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 4,
        "comments": 120,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
